body {
  display: block;
  max-width: 984px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

header,
nav {
  margin: 0;
  background-color: rgb(227, 247, 201);
}

nav a {
  margin: 0px 13px;
}

header {
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
}

nav {
  padding: 10px;
  font-weight: bold;
  font-size: 12px;
  border-radius: 0px 0px 10px 10px;
}

main {
  padding: 10px;
  font-size: 16px;
}

h1{
  margin: 0;
  font-size: 26px;
}

h2 {
  margin: 1em 0 0.5em 0;
  font-size: 18px;
  background-color: rgb(227, 247, 201);
}

h3 {
  margin: 0.5em 0.2em;
  text-decoration: underline;
}

figure {
  margin: 0;
}

img {
  float: right;
  border-radius: 5px;
}

p {
  margin: 0.4em;
}

span {
  font-weight: bold;
}

li {
  margin: 0.5em;
}

footer{
  text-align: center;
  color: lightslategray;
}