body {
  display: block;
  max-width: 1024px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.cv-head,
.navigation {
  margin: 0;
  background-color: rgb(227, 247, 201);
}

.navigation{
  height: 30px;
}

.navigation-link,
.contact-link {
  text-decoration: none;
  color: black;
}

.navigation-link:hover,
.contact-link:hover {
  text-decoration: underline;
}

.cv-head {
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
}

 .navigation {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: bold;
  font-size: 12px;
  border-radius: 0px 0px 10px 10px;
}

.cv-content {
  padding: 10px;
  font-size: 14px;
}

.head-name{
  margin: 0;
  font-size: 26px;
}

.cv-part-head {
  margin: 1em 0 0.5em 0;
  font-size: 18px;
  background-color: rgb(227, 247, 201);
}

.personal-information-all-content {
  display: flex;
  justify-content: space-between;
}

.companies {
  margin: 0.5em 0.2em;
  text-decoration: underline;
}

.photo {
  width: 150px;
  margin: 0;
  border-radius: 5px;
}

p {
  margin: 0.4em;
}

.advantages {
  font-weight: bold;
}

li {
  margin: 0.5em;
}

footer{
  text-align: center;
  color: lightslategray;
}
